body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    gap: 20px;
    font-size: large;
    color: #602fd3;
}

.actions {
    display: flex;
    gap: 10px;
}

.hb {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hb:hover {
    background-color: #d32f2f;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 600px;
}

.game-link {
    color: rgb(44, 41, 41);
    padding: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    border: black 2px solid;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.a{
    background-color: #d32f2f;
}
.b{
    background-color: #1976D2;
}
.c{
    background-color: #4CAF50;
}
.d{
    background-color: #602fd3;
}
.game-link:hover {
    opacity: 40%;
}

/* סגנון כללי לטבלה */
.leaderboard {
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

.leaderboard h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.leaderboard table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.leaderboard th, .leaderboard td {
    padding: 10px;
    border: 1px solid #ddd;
}

.leaderboard th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.leaderboard tr:nth-child(even) {
    background-color: #f9f9f9;
}

.leaderboard tr:nth-child(odd) {
    background-color: #fff;
}

.leaderboard td {
    font-size: 18px;
}

.leaderboard tr:first-child th {
    border-top: none;
}

.leaderboard tr:last-child td {
    border-bottom: none;
}

.leaderboard tr:hover {
    background-color: #f1f1f1;
}
